<nav class="w-64 bg-white dark:bg-gray-800 shadow-md h-full p-4">
  <ul class="space-y-4">
    <li>
      <a routerLink="/" routerLinkActive="font-bold" [routerLinkActiveOptions]="{ exact: true }" (click)="onLinkClick()">
        Accueil
      </a>
    </li>
    <li>
      <a routerLink="/learn" routerLinkActive="font-bold" (click)="onLinkClick()">
        S’informer
      </a>
    </li>
    <li>
      <a routerLink="/quiz" routerLinkActive="font-bold" (click)="onLinkClick()">
        Se tester
      </a>
    </li>
    <li>
      <a routerLink="/stories" routerLinkActive="font-bold" (click)="onLinkClick()">
        Faits marquants
      </a>
    </li>
  </ul>
</nav>
